[Unit]
Description=Voltorb Battery/AC watchdog service
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/python3 /etc/Voltorb/voltorb_service.py 
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target 
